html {
	background: #456644;
	margin: 0;
}

/*limited reset*/
h1, h2, h3, h4, h5, h6, p, blockquote, div {
	margin: 0;
	padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	width: 80%;
	margin: 0 auto 0;
	padding: 2.5%;
	background: white;
	line-height: 1.8;
}

h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: #456644;
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
	color: #97552C;

}
h3, h4, h5, h6 {
	font: 1em Verdana, Geneva, sans-serif;
	color: #97552C;
}

p {
	font: 1em Verdana, Geneva, sans-serif;
	margin-bottom: 1em;
}

a {
	color: #926A34;
}
a:hover {
	color: #E2A643;
}

pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;

}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
pre span {
	color: #F9F;
}
pre span.label {
	color: #FC0;
}

.compatibility {
	float: right;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 1em;
	background: #ECE3AA;
}
caption {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(107, 107, 132);
	text-align: left;
}
tr:nth-child(odd) {
	background: #F3ECDD;
}
td {
	border: 1px solid black;
	padding: .5em;
	text-align: center;
	background: #ccc;
}
th {
	border: 1px solid black;
	border-bottom: 3px solid black;
	/* text-indent: -3000em; */
	font-size: 0px;
	width: 50px;
	height: 50px;
	/* vertical-align: center; */
	background: #999;
	color: white;
}

.chrome {
	background: url(../_images/chrome.png) no-repeat center;
}
.mozilla {
	background: url(../_images/firefox.png) no-repeat center;
}
.IE {
	background: url(../_images/ie.png) no-repeat center;
}
.opera {
	background: url(../_images/opera.png) no-repeat center;
}
.safari {
	background: url(../_images/safari.png) no-repeat center;
}
.yes {
	color: #390;
}
.no {
	color: #F00;
}

aside {
	float: right;
	width: 25%;
	margin-top: 4em;
}
aside section {
	background: #ECE3AA;
}
aside h3 {
	margin:  0;
	padding: .5em 0;
	text-align: center;
	background: #715125;
	font-weight: normal;
	color: white;
}
aside ul, aside li {
	list-style: none;
	margin: 0;
	padding: 0;
}
aside li:nth-child(even) {
	background: #F3ECDD;
}
aside a {
	display: block;
	text-decoration: none;
	padding: .5em 1em;
}
aside a:hover {
	background: #926A34;
	color: white;
}

footer {
	clear: both;
}